<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC  
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="com.fh.shop.admin.mapper.DeptMapper">

	<insert id="addDept" parameterType="department"> 
		<selectKey keyProperty="id" resultType="int" order="AFTER">
			select LAST_INSERT_ID()
		</selectKey>
		insert into t_dept(deptName,fatherId,description,createDate) values(#{deptName},#{fatherId},#{description},#{createDate})
	</insert>
	
	<select id="findDeptList" resultType="department">
		select id,deptName,fatherId,description,createDate from t_dept
	</select>
	
	<update id="updateDept" parameterType="department">
		update t_dept set deptName = #{deptName},description=#{description},createDate=#{createDate} where id = #{id}
	</update>
	
	<delete id="deleteBatch" parameterType="list">
		delete from t_dept where id in 
		<foreach collection="list" open="(" close=")" item="id" separator=",">
			#{id}
		</foreach>
	</delete>
</mapper>